body {
	background-color: #e6eeff;
	font-family: Calibri;
}

#wrapper {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

#header {
	float: top;
}

#tabs {
	float: top;
	width: 100%;
	border: 1px solid #000000;
	background-color: #6699ff;
	overflow: auto;
}

#tabs button {
	float: left;
	background-color: inherit;
	display: block;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 12px;
	font-size: 18px;
	transition: 0.3s;
}

#tabs button:hover {
	background-color: #ffffff;
}

#tabs button.active {
	background-color: #ffffff;
}

#content {
	float: top;
}

#canvas-wrapper {
	float: left;
	padding-right: 16px;
}

#renderer {
	background-color: #ffffff;
	border: 1px solid #000000;
	border-top: 0;
}

#description {	
	overflow: hidden;
}

#controls {
	clear: left;
	float: top;
	width: 100%;
}

#controls td {
	text-align: right;
}

#controls button {
	width: 100%;
}

#controls select {
	width: 100%;
}

#controls input {
	width: 100%;
}

.tab-description {
	display: none;
}

.tab-controls {
	padding-top: 8px;
	display: none;
}